/vendor
/node_modules
public*
storage/*
Homestead.yaml
Homestead.json
.env
.env.example
.DS_Store
config/*
error_log
bootstrap/cache
server.php
package.json
gulpfile.js
composer.json
artisan
tests/*
public/*
database/factories/*
database/seeds/*
bootstrap/*
