vendor/*
node_modules/*
storage/*
Homestead.yaml
Homestead.json
.env
.env.example
.DS_Store
config/*
error_log
server.php
package.json
gulpfile.js
composer.json
artisan
tests/*
public/*
database/factories/*
database/seeds/*
bootstrap/*
gulpfile.js
app/Http/routes.php
app/Http/Kernel.php
